.conteudo {
    width: 100%;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: justify;
}

#pitext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: #3d3d3d;
    font-size: 25px;
}

#ppitext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    color: #3d3d3d;
    font-size: 20px;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
}